# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production build
build/

# Logs
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# Optional caches
.npm
.eslintcache

# Vercel
.vercel

# Misc
*.pem